#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.sample
#   see 'man 5 dhcpd.conf'
#

subnet 10.50.3.0 netmask 255.255.255.0 {
    allow bootp;
    allow booting;
    option routers 10.50.3.1;
    option domain-name "lab.dns";
    option domain-name-servers 10.50.3.2;
    option domain-search "lab.dns", "labtest.dns";
    option subnet-mask 255.255.255.0;
    default-lease-time 1800;
    max-lease-time 7200;

    pool {
        range 10.50.3.30 10.50.3.243;
        deny dynamic bootp clients;
    }

    # bootp stuff
    pool {
        range dynamic-bootp 10.50.3.244 10.50.3.254;
        allow dynamic bootp clients;
        filename "pxelinux.0";
        next-server 10.50.3.2;
    }

